<a href="https://colab.research.google.com/github/sdeepa-24/AI-lab-code/blob/main/pandas_implimentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)


print("DataFrame:")
print(df)


print("\nDataFrame Info:")
print(df.info())

print("\nSummary Statistics:")
print(df.describe(include='all'))

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

Summary Statistics:
         Name        Age      City
count       3   3.000000         3
unique      3        NaN         3
top     Alice        NaN  New York
freq        1        NaN         1
mean      NaN  25.666667       NaN
std       NaN   4.041452       NaN
min       NaN  22.000000       NaN
25%       NaN  23.500000       NaN
50%       NaN  25.000000       NaN
75%       NaN  27.500000       NaN
max       NaN  30.000000       NaN